---
name: ci
"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@5.0.8
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "almalinux-9"
          - "rockylinux-9"
          - "oraclelinux-9"
          - "centos-stream-9"
          - "centos-stream-10"
          - "amazonlinux-2023"
          - "debian-12"
          - "debian-13"
          - "ubuntu-2204"
          - "ubuntu-2404"
        suite:
          - "access-15"
          - "access-16"
          - "access-17"
          - "client-install-15"
          - "client-install-16"
          - "client-install-17"
          - "extension-15"
          - "extension-16"
          - "extension-17"
          - "ident-15"
          - "ident-16"
          - "ident-17"
          - "server-install-15"
          - "server-install-16"
          - "server-install-17"
          - "initdb-locale-17"
          - "server-install-os"
        exclude:
          - os: "amazonlinux-2023"
            suite: "access-15"
          - os: "amazonlinux-2023"
            suite: "access-16"
          - os: "amazonlinux-2023"
            suite: "access-17"
          - os: "amazonlinux-2023"
            suite: "client-install-15"
          - os: "amazonlinux-2023"
            suite: "client-install-16"
          - os: "amazonlinux-2023"
            suite: "client-install-17"
          - os: "amazonlinux-2023"
            suite: "extension-15"
          - os: "amazonlinux-2023"
            suite: "extension-16"
          - os: "amazonlinux-2023"
            suite: "extension-17"
          - os: "amazonlinux-2023"
            suite: "ident-15"
          - os: "amazonlinux-2023"
            suite: "ident-16"
          - os: "amazonlinux-2023"
            suite: "ident-17"
          - os: "amazonlinux-2023"
            suite: "server-install-15"
          - os: "amazonlinux-2023"
            suite: "server-install-16"
          - os: "amazonlinux-2023"
            suite: "server-install-17"
          - os: "amazonlinux-2023"
            suite: "initdb-locale-17"
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Dokken
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
